* { box-sizing:border-box; }
.property_(@property, @value) {
    _: 0 ~"; @{property}:" @value;
}

.vendor(@property, @value) {
    .property_('-webkit-@{property}', @value);
    .property_( '-khtml-@{property}', @value);
    .property_(   '-moz-@{property}', @value);
    .property_(          @property,   @value);
}
body {
	font-size:0;
	background-color:#333;
	font-family:"Courier New", Courier, monospace;
}
#wrap {
	margin:10px auto;
	text-align:center;
}
#canvas {
	vertical-align:top;
	background-color:#fff;
	width:610px;
	height:610px;
	border:5px solid #333;
	display:inline-block;
}
#toolkit {
	text-align:left;
	background-color:#eee;
	font-size:12pt;
	vertical-align:top;
	border:5px solid #333;
	max-width:400px;
	display:inline-block;
	#layerTools,#lightTools,#drawTools,#new,#about {
		border-bottom:1px solid #333;
		padding:5px;
	}
	#about {
		text-align:center;
		font-size:0.8em;
		background-color:#444;
		border-left:4px solid #111;
		color:#ccc;
		a {
			color:#eee;
			text-decoration:none;
		}
	}
	#new {
		background-color:#cac;
		border-left:4px solid #c7c;
	}
	#layerTools {
		background-color:#caa;
		border-left:4px solid #c77;
	}
	#drawTools {
		background-color:#aac;
		border-left:4px solid #77c;
		input {
			display:inline-block;
		}
	}
	#lightTools {
		background-color:#aca;
		border-left:4px solid #7c7;
	}
	label {
		font-size:0.8em;
		color:#444;
	}
	input {
		display:block;
		margin-left:4px;
		margin-bottom:5px;
	}
}
.pixel {
	.vendor(transition, "border 1s");
	display:inline-block;
	&.empty {
		border:1px solid #fafafa;
	}
	&.s20 {
		width:20px;
		height:20px;
	}
	&.s30 {
		width:30px;
		height:30px;
	}
	&.s60 {
		width:60px;
		height:60px;
	}
	&.s120 {
		width:120;
		height:120;
	}
	&.topEdge {
		border-top:3px solid #f00;
	}
	&.bottomEdge {
		border-bottom:3px solid #f00;
	}
	&.leftEdge {
		border-left:3px solid #f00;
	}
	&.rightEdge {
		border-right:3px solid #f00;
	}
	cursor:pointer;
}
select {
	padding:5px;
}
button {
	padding:5px;
	cursor:pointer;
	background-color:#f9f9f9;
	border:2px solid #ddd;
	border-style:solid;
	outline: none;
}
