* { box-sizing:border-box; }
.property_(@property, @value) {
    _: 0 ~"; @{property}:" @value;
}

.vendor(@property, @value) {
    .property_('-webkit-@{property}', @value);
    .property_( '-khtml-@{property}', @value);
    .property_(   '-moz-@{property}', @value);
    .property_(          @property,   @value);
}
body {
	font-size:0;
}
#canvas {
	vertical-align:top;
	width:610px;
	height:610px;
	border:5px solid #888;
	display:inline-block;
}
#toolkit {
	vertical-align:top;
	width:610px;
	height:610px;
	border:5px solid #888;
	display:inline-block;
}
.pixel {
	.vendor(transition, "border 1s");
	display:inline-block;
	&.empty {
		border:3px solid #eee;
	}
	&.s60 {
		width:60px;
		height:60px;
	}
	&.topEdge {
		border-top:3px solid #f00;
	}
	&.bottomEdge {
		border-bottom:3px solid #f00;
	}
	&.leftEdge {
		border-left:3px solid #f00;
	}
	&.rightEdge {
		border-right:3px solid #f00;
	}
	cursor:pointer;
}
