* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-size: 0;
  background-color: #333;
  font-family: "Courier New", Courier, monospace;
}
#wrap {
  margin: 10px auto;
  text-align: center;
}
#canvas {
  vertical-align: top;
  background-color: #fff;
  width: 610px;
  height: 610px;
  border: 5px solid #333;
  display: inline-block;
}
#toolkit {
  text-align: left;
  background-color: #eee;
  font-size: 12pt;
  vertical-align: top;
  border: 5px solid #333;
  max-width: 400px;
  display: inline-block;
}
#toolkit #layerTools,
#toolkit #lightTools,
#toolkit #drawTools,
#toolkit #new,
#toolkit #about {
  border-bottom: 1px solid #333;
  padding: 5px;
}
#toolkit #about {
  text-align: center;
  font-size: 0.8em;
  background-color: #444;
  border-left: 4px solid #111;
  color: #ccc;
}
#toolkit #about a {
  color: #eee;
  text-decoration: none;
}
#toolkit #new {
  background-color: #cac;
  border-left: 4px solid #c7c;
}
#toolkit #layerTools {
  background-color: #caa;
  border-left: 4px solid #c77;
}
#toolkit #drawTools {
  background-color: #aac;
  border-left: 4px solid #77c;
}
#toolkit #drawTools input {
  display: inline-block;
}
#toolkit #lightTools {
  background-color: #aca;
  border-left: 4px solid #7c7;
}
#toolkit label {
  font-size: 0.8em;
  color: #444;
}
#toolkit input {
  display: block;
  margin-left: 4px;
  margin-bottom: 5px;
}
.pixel {
  _: 0 ; -webkit-transition: "border 1s";
  _: 0 ; -khtml-transition: "border 1s";
  _: 0 ; -moz-transition: "border 1s";
  _: 0 ; transition: "border 1s";
  display: inline-block;
  cursor: pointer;
}
.pixel.empty {
  border: 1px solid #fafafa;
}
.pixel.s20 {
  width: 20px;
  height: 20px;
}
.pixel.s30 {
  width: 30px;
  height: 30px;
}
.pixel.s60 {
  width: 60px;
  height: 60px;
}
.pixel.s120 {
  width: 120;
  height: 120;
}
.pixel.topEdge {
  border-top: 3px solid #f00;
}
.pixel.bottomEdge {
  border-bottom: 3px solid #f00;
}
.pixel.leftEdge {
  border-left: 3px solid #f00;
}
.pixel.rightEdge {
  border-right: 3px solid #f00;
}
select {
  padding: 5px;
}
button {
  padding: 5px;
  cursor: pointer;
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-style: solid;
  outline: none;
}
